.card__container {
  display: flex;
  gap: 60px;
  padding: 50px;
  background-color: var(--secondary);
  border-radius: 25px;
  margin-block: 43px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .card__container {
    gap: 20px;
    background-color: unset;
    margin-block: 0px 20px;
    padding: 0px;
  }
}
