.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(340px, 100%), 1fr));
  gap: 60px;
  padding: 50px;
  background-color: var(--secondary);
  border-radius: 25px;
  margin-block: 43px;
}

@media (max-width: 768px) {
  .card__container {
    gap: 20px;
    background-color: unset;
    margin-block: 0px 20px;
    padding: 0px;
  }
}
