.host {
  display: flex;
  gap: 10px;
  align-items: center;

  .host__name {
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .host__avatar {
    width: 64px;
    height: 64px;
    background-color: var(--secondary);
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 425px) {
  .host {
    .host__name {
      font-size: 12px;
    }
    .host__avatar {
      width: 32px;
      height: 32px;
    }
  }
}
