.header {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  nav {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 60px;
    }
    li {
      font-size: 24px;
    }
  }
  .logo {
    width: 210px;
  }
  a,
  a:visited {
    color: var(--primary);
    text-decoration: none;
    &.activeLink {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .logo {
      width: 145px;
    }
    nav {
      ul {
        gap: 35px;
      }
      li {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 425px) {
  .header {
    nav {
      ul {
        gap: 10px;
      }
      li {
        font-size: 12px;
      }
    }
  }
}
