@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  .accordion__heading {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    min-height: 47px;
    font-weight: 500;
    font-size: 24px;
    margin: auto 0;
    color: white;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding-left: 18px;
    padding-right: 64px; //padding-left - icon's width
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      translate: 0% -50%;
      height: 30px;
      width: 30px;
      background-image: url("../../images/carousel-arrow.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      rotate: 90deg;
      transition: all 0.3s ease;
    }
  }

  &.isOpen .accordion__heading::after {
    rotate: -90deg;
  }

  .accordion__content {
    position: relative;
    z-index: 1;
    animation: fadein 0.3s ease;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 12px;
    padding-top: 40px;
    margin-top: -10px;
    font-size: 18px;
    line-height: 1.5;
  }
}

@media (max-width: 425px) {
  .accordion {
    .accordion__heading {
      min-height: 30px;
      font-size: 13px;
      &::after {
        height: 18px;
        width: 18px;
      }
    }
    .accordion__content {
      padding-top: 23px;
      font-size: 12px;
    }
  }
}
